<nav
    class="py-4 px-8 m-4 rounded-md shadow-lg flex bg-primary flex-row border-primary justify-between"
>
    <ul class="flex gap-8 items-center">
        <li><a href="/start-test" class="text-white">Start Test</a></li>
        <li><a href="/lectures" class="text-white">Lectures</a></li>
        <li><a href="/leaderboards" class="text-white">Leaderboard</a></li>
    </ul>
    <ul class="flex gap-8 items-center">
        <li><a href="/" class="text-white text-2xl title">EXAMHUB</a></li>
    </ul>
    <ul class="flex gap-8 items-center">
        <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li><a href="/auth/log-in" class="text-white">Logout</a></li>
    </ul>
</nav>
