@import url("https://fonts.googleapis.com/css2?family=Delius&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #d94174;
    --secondary: #202020;
    --tertiary: #404040;
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 md:px-8;
}

*::selection {
    background-color: #404040;
}

body {
    background-color: #202020;
}

.glass {
    backdrop-filter: blur(18px) saturate(200%);
    -webkit-backdrop-filter: blur(18px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.49);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.flash {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.flash.success {
    background-color: #4caf50;
}

.flash.error {
    background-color: #f44336;
}

.title {
    letter-spacing: 5px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: bolder;
    text-transform: uppercase;
}
