<!-- templates/home.html -->
{% extends 'layout.html' %} {% block title %}Home - My Flask App{% endblock %}
{% block content %}
<div class="container px-48 text-white">
    <div class="w-full flex items-center py-20 gap-4">
        <div class="w-1/2 flex justify-center">
            <div
                class="h-72 w-72 bg-tertiary flex justify-center items-center text-primary text-8xl rounded-full"
            >
                AQ
            </div>
        </div>
        <div class="flex w-1/2 gap-4 flex-col">
            <h1 class="text-5xl font-bold">Abdurrahman Qureshi</h1>
            <p class="text-2xl">Student ID: 242466</p>
        </div>
    </div>
</div>
<div class="container grid grid-cols-3 gap-4 px-36 pb-20 text-white">
    <h1 class="col-span-3 text-3xl">Student Information</h1>
    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-id-card text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Roll No</h1>
            <h1>242466</h1>
        </div>
    </div>

    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-code-branch text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Branch</h1>
            <h1>IT</h1>
        </div>
    </div>

    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-phone text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Phone</h1>
            <h1>8879662240</h1>
        </div>
    </div>

    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-envelope text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Email</h1>
            <h1>scythethroughtheheart05@gmail.com</h1>
        </div>
    </div>

    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-calendar-alt text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Academic Year</h1>
            <h1>Second Year</h1>
        </div>
    </div>

    <div class="bg-tertiary py-4 px-8 rounded-md flex items-center gap-6">
        <i class="fas fa-birthday-cake text-4xl"></i>

        <div>
            <h1 class="text-bold text-xl">Date of Birth</h1>
            <h1>17/01/2005</h1>
        </div>
    </div>
</div>
{% endblock %}
