<!-- templates/lectures.html -->
{% extends 'layouts/main_layout.html' %} {% block title %}EXAMHUB | Lectures{%
endblock %} {% block content %}
<div class="container text-white">
    <div class="w-full flex justify-center items-center py-10 flex-col gap-8">
        <h1 class="text-6xl font-bold">Lectures</h1>

        <div class="w-10/12 grid grid-cols-3 gap-4">
            {% for test in lectures %}
            <div class="mb-6 p-6 bg-tertiary rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold mb-4">{{ test.course_name }}</h2>
                <p class="text-lg mb-2">
                    <strong>Course Code:</strong> {{ test.course_code }}
                </p>
                <p class="text-lg mb-2">
                    <strong>Semester:</strong> {{ test.course_semester }}
                </p>
                <p class="text-lg mb-2">
                    <strong>Branch:</strong> {{ test.course_branch }}
                </p>
                <p class="text-lg mb-4">
                    <strong>Description:</strong> {{ test.test_description }}
                </p>
                <a
                    href="{{ url_for('start_test', test_id=test._id) }}"
                    class="w-full shadow-lg text-xl text-center bg-primary p-2 rounded-md hover:opacity-75 hover:cursor-pointer text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >Start Test</a
                >
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
