<!-- templates/components/footer.html -->
<footer
    class="intersecting_invisible bg-primary p-4 m-4 rounded-md shadow-lg text-white flex flex-col gap-4 md:flex-row justify-evenly items-center"
>
    <p class="md:hidden intersecting_invisible text-xl">Sofiya</p>
    <p class="md:hidden intersecting_invisible text-2xl">
        &copy; 2025 <span class="intersecting_invisible title"> EXAMHUB</span>
    </p>
    <p class="md:hidden intersecting_invisible text-xl">Abdurrahman</p>
    <p class="hidden md:block intersecting_invisible text-xl">
        Sofiya Patwekar
    </p>
    <p class="hidden md:block intersecting_invisible text-2xl">
        &copy; 2025 <span class="intersecting_invisible title"> EXAMHUB</span>
    </p>
    <p class="hidden md:block intersecting_invisible text-xl">
        Abdurrahman Qureshi
    </p>
</footer>
