<nav
    class="intersecting_invisible py-4 px-8 m-4 rounded-md shadow-lg flex bg-primary flex-row border-primary justify-between"
>
    <ul class="intersecting_invisible flex gap-8 items-center">
        <li>
            <a href="/tests/lectures" class="intersecting_invisible text-white"
                >Lectures</a
            >
        </li>
        <li>
            <a href="/leaderboards" class="intersecting_invisible text-white"
                >Leaderboard</a
            >
        </li>
        <li>
            <a href="/materials" class="intersecting_invisible text-white"
                >Materials</a
            >
        </li>
        <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
    <ul class="intersecting_invisible flex gap-8 items-center">
        <li>
            <a href="/" class="intersecting_invisible text-white text-2xl title"
                >EXAMHUB</a
            >
        </li>
    </ul>
    <ul class="intersecting_invisible flex gap-8 items-center">
        <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li>
            <a href="/profile" class="intersecting_invisible text-white"
                >Profile</a
            >
        </li>
        <li>
            <a href="/auth/log-in" class="intersecting_invisible text-white"
                >Logout</a
            >
        </li>
    </ul>
</nav>
