<!-- templates/auth/log-in.html -->
{% extends 'layouts/minimal_layout.html' %} {% block title %}EXAMHUB | Login{%
endblock %} {% block content %}
<div
    class="intersecting_invisible h-screen w-screen flex gap-12 flex-col justify-center items-center md:flex-row md:h-screen md:justify-center md:items-center"
>
    <div
        class="hidden intersecting_invisible md:w-1/2 md:pl-36 md:flex md:items-center md:justify-center"
    >
        {% include 'components/auth-svg.html' %}
    </div>
    <div
        class="intersecting_invisible w-screen flex flex-col gap-8 px-4 md:w-1/2 md:justify-center md:items-center md:gap-8 md:text-center md:px-36"
    >
        <h1
            class="intersecting_invisible text-4xl text-white w-full flex gap-4 items-center justify-center"
        >
            <i class="intersecting_invisible fas fa-sign-in-alt mt-2"></i>Login
        </h1>
        <form
            method="POST"
            action="{{ url_for('log_in') }}"
            class="intersecting_invisible w-full flex flex-col gap-8"
        >
            <div class="intersecting_invisible flex flex-col gap-4">
                <div
                    class="intersecting_invisible bg-tertiary flex flex-row w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Roll No"
                        type="text"
                        name="input_roll_no"
                        class="intersecting_invisible bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="intersecting_invisible bg-tertiary flex flex-row w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Password"
                        type="password"
                        name="input_password"
                        class="intersecting_invisible bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
            </div>
            <div class="intersecting_invisible flex flex-col w-full gap-6">
                <div class="intersecting_invisible flex gap-4">
                    <a
                        href="/admin/auth/confirm"
                        type="submit"
                        value="Login"
                        class="intersecting_invisible w-full shadow-lg text-xl text-center border-primary text-[var(--primary)] bg-white border-2 p-2 rounded-md hover:opacity-75 hover:cursor-pointer focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Admin Login
                    </a>
                    <button
                        type="submit"
                        value="Login"
                        class="intersecting_invisible w-full shadow-lg text-xl text-center bg-primary p-2 rounded-md hover:opacity-75 hover:cursor-pointer text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Login
                    </button>
                </div>
                <div
                    class="intersecting_invisible w-full bg-tertiary h-1 rounded-md"
                />
                <div class="intersecting_invisible mt-4 text-center">
                    <a
                        href="/auth/sign-up"
                        class="intersecting_invisible text-sm text-zinc-300"
                        >Don't have an account? Register now</a
                    >
                </div>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="intersecting_invisible flash-messages">
    {% for category, message in messages %}
    <div class="intersecting_invisible  flash {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %} {% endwith %} {% endblock %}
