<!-- templates/auth/sign-up.html -->
{% extends 'layouts/minimal_layout.html' %} {% block title %}EXAMHUB | Sign Up{%
endblock %} {% block content %}
<div class="flex flex-row-reverse h-screen justify-center items-center">
    <div class="w-1/2 bg-secondary flex items-center justify-center">
        {% include 'components/auth_svg.html' %}
    </div>
    <div
        class="w-1/2 bg-secondary flex flex-col justify-center items-center gap-8 text-center px-36"
    >
        <h1
            class="text-4xl text-white w-full flex gap-4 items-center justify-center"
        >
            <i class="fas fa-user-plus"></i>Sign Up
        </h1>
        <form
            method="POST"
            action="{{ url_for('sign_up') }}"
            class="w-full flex flex-col gap-8"
        >
            <div class="grid grid-cols-2 gap-4">
                <div
                    class="bg-tertiary shadow-lg flex col-span-2 flex-row w-full gap-2 p-2 rounded-md"
                >
                    <input
                        placeholder="Email"
                        type="text"
                        name="input_email"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary flex flex-row col-span-2 w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Name"
                        type="text"
                        name="input_name"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary shadow-lg flex cursor-pointer flex-row w-full gap-2 p-2 rounded-md"
                >
                    <input
                        placeholder="Phone Number"
                        type="text"
                        name="input_phone"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary flex flex-row w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Password"
                        type="password"
                        name="input_password"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary flex flex-row w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Roll No"
                        type="text"
                        name="input_roll_no"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary flex flex-row w-full gap-2 p-2 rounded-md shadow-lg"
                >
                    <input
                        placeholder="Date of Birth"
                        type="date"
                        name="input_dob"
                        class="bg-tertiary text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                        required="true"
                    />
                </div>
                <div
                    class="bg-tertiary shadow-lg col-span-2 flex cursor-pointer flex-row w-full gap-2 p-2 rounded-md"
                >
                    <select
                        required
                        name="input_branch"
                        class="bg-tertiary cursor-pointer text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        <option
                            class="cursor-pointer"
                            value=""
                            disabled
                            selected
                        >
                            Select Branch
                        </option>
                        <option
                            class="cursor-pointer"
                            value="Computer Engineering"
                        >
                            CO (Computer Engineering)
                        </option>
                        <option
                            class="cursor-pointer"
                            value="Information Technology"
                        >
                            IT (Information Technology)
                        </option>
                        <option class="cursor-pointer" value="Cyber Security">
                            CBS (Cyber Security)
                        </option>
                        <option class="cursor-pointer" value="AI/ML">
                            AI/ML (Artificial Intelligence and Machine Learning)
                        </option>
                    </select>
                </div>
                <div
                    class="bg-tertiary shadow-lg flex cursor-pointer flex-row w-full gap-2 p-2 rounded-md"
                >
                    <select
                        required
                        name="input_semester"
                        class="bg-tertiary cursor-pointer text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        <option
                            class="cursor-pointer"
                            value=""
                            disabled
                            selected
                        >
                            Select Semester
                        </option>
                        <option class="cursor-pointer" value="Semester I">
                            Semester I
                        </option>
                        <option class="cursor-pointer" value="Semester II">
                            Semester II
                        </option>
                        <option class="cursor-pointer" value="Semester III">
                            Semester III
                        </option>
                        <option class="cursor-pointer" value="Semester IV">
                            Semester IV
                        </option>
                        <option class="cursor-pointer" value="Semester V">
                            Semester V
                        </option>
                        <option class="cursor-pointer" value="Semester VI">
                            Semester VI
                        </option>
                        <option class="cursor-pointer" value="Semester VII">
                            Semester VII
                        </option>
                        <option class="cursor-pointer" value="Semester VIII">
                            Semester VIII
                        </option>
                    </select>
                </div>
                <div
                    class="bg-tertiary shadow-lg flex flex-row w-full gap-2 p-2 rounded-md items-center"
                >
                    <select
                        required
                        name="input_gender"
                        class="bg-tertiary cursor-pointer text-center w-full text-xl text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        <option
                            class="cursor-pointer"
                            value=""
                            disabled
                            selected
                        >
                            Select Gender
                        </option>
                        <option class="cursor-pointer" value="Male">
                            Male
                        </option>
                        <option class="cursor-pointer" value="Female">
                            Female
                        </option>
                        <option class="cursor-pointer" value="Tow Truck">
                            Tow Truck
                        </option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col w-full gap-6">
                <div class="flex gap-4">
                    <a
                        href="/admin/auth/confirm"
                        class="w-full shadow-lg text-xl text-center border-primary text-[var(--primary)] bg-white border-2 p-2 rounded-md hover:opacity-75 hover:cursor-pointer focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Admin Login
                    </a>
                    <button
                        type="submit"
                        value="Sign Up"
                        class="w-full shadow-lg text-xl text-center bg-primary p-2 rounded-md hover:opacity-75 hover:cursor-pointer text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Sign Up
                    </button>
                </div>
                <div class="w-full bg-tertiary h-1 rounded-md" />
                <div class="mt-4">
                    <a href="/auth/log-in" class="text-sm text-zinc-300"
                        >Already have an account? Login</a
                    >
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %} {% endwith %} {% endblock %}
