<!-- templates/admin/create/create-test.html -->
{% extends 'layouts/admin_layout.html' %} {% block title %}EXAMHUB | Create
Test{% endblock %} {% block content %}
<div class="intersecting_invisible container text-white">
    <div
        class="intersecting_invisible w-full flex justify-center items-center py-20 flex-col gap-8"
    >
        <h1 class="intersecting_invisible text-6xl md:mt-0 -mt-16 font-bold">
            Create Test
        </h1>
        <form
            method="POST"
            action="{{ url_for('create_test') }}"
            class="intersecting_invisible w-full md:w-[75%] md:p-8 rounded-lg"
            enctype="multipart/form-data"
        >
            <div
                class="intersecting_invisible flex flex-col md:flex-row gap-4 mb-6"
            >
                <div class="intersecting_invisible flex-1">
                    <label
                        for="course_name"
                        class="intersecting_invisible block text-xl font-medium mb-2"
                        >Course Name</label
                    >
                    <input
                        type="text"
                        id="course_name"
                        name="course_name"
                        value="{{ session.get('course_name') }}"
                        class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                        required
                        disabled
                    />
                </div>

                <div class="intersecting_invisible flex-2">
                    <label
                        for="course_semester"
                        class="intersecting_invisible block font-medium text-xl mb-2"
                        >Course Code</label
                    >
                    <input
                        type="text"
                        id="course_code"
                        name="course_code"
                        value="{{ session.get('course_code') }}"
                        class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                        required
                        disabled
                    />
                </div>

                <div class="intersecting_invisible flex-2">
                    <label
                        for="course_semester"
                        class="intersecting_invisible block font-medium text-xl mb-2"
                        >Course Semester</label
                    >
                    <input
                        type="text"
                        id="course_semester"
                        name="course_semester"
                        value="{{ session.get('course_semester') }}"
                        class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                        required
                        disabled
                    />
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="intersecting_invisible mb-6 flex-1">
                    <label
                        for="test_name"
                        class="intersecting_invisible block font-medium text-xl mb-2"
                        >Test Name</label
                    >
                    <input
                        type="text"
                        id="test_name"
                        name="test_name"
                        class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                        required
                    />
                </div>
                <div class="intersecting_invisible mb-6">
                    <label
                        for="test_name"
                        class="intersecting_invisible block font-medium text-xl mb-2"
                        >Test Duration</label
                    >
                    <input
                        type="text"
                        placeholder="In minutes"
                        id="test_duration"
                        name="test_duration"
                        class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                        required
                    />
                </div>
            </div>

            <div class="intersecting_invisible mb-6">
                <label
                    for="test_description"
                    class="intersecting_invisible block font-medium text-xl mb-2"
                    >Test Description</label
                >
                <textarea
                    id="test_description"
                    name="test_description"
                    rows="4"
                    class="intersecting_invisible w-full px-4 py-2 bg-tertiary rounded-lg focus:outline-none"
                    required
                ></textarea>
            </div>

            <div
                class="intersecting_invisible mb-6 border border-zinc-500 p-4 rounded-lg"
            >
                <h2 class="intersecting_invisible text-2xl font-bold mb-4">
                    JSON Format Guide
                </h2>
                <p class="intersecting_invisible mb-4">
                    The JSON file should follow the structure below:
                </p>
                <pre
                    class="intersecting_invisible hidden md:block bg-tertiary p-4 rounded-lg"
                >
{
    "questions": [
        {
            "question": "What is the output of `print(2 + 2)`?",
            "options_a": "3",
            "options_b": "4",
            "options_c": "5",
            "options_d": "6",
            "correct_answer": "option_b"
        },
        {
            "question": "Which of the following is used to define a function in Python?",
            "options_a": "func",
            "options_b": "def",
            "options_c": "function",
            "options_d": "define",
            "correct_answer": "option_b"
        },
        // Add more questions here following the same format.
        .................
    ]
}
                </pre>
                <pre
                    class="intersecting_invisible md:hidden text-xs bg-tertiary p-4 rounded-lg"
                >
{
 "questions": [
  {
   "question": "What is the output of
                `print(2 + 2)`?",
   "options_a": "3",
   "options_b": "4",
   "options_c": "5",
   "options_d": "6",
   "correct_answer": "option_b"
  },
  {
   "question": "Keyword to define a function
                in Python?",
   "options_a": "func",
   "options_b": "def",
   "options_c": "function",
   "options_d": "define",
   "correct_answer": "option_b"
  },
  // Add more questions here following the 
     same format.
        .................
    ]
}
                </pre>
            </div>
            <div
                class="intersecting_invisible rounded-lg py-4 md:px-72 text-center"
            >
                <h2 class="intersecting_invisible text-2xl font-bold mb-4">
                    Upload JSON File
                </h2>
                <div
                    class="intersecting_invisible mb-6 flex flex-col gap-4 justify-between"
                >
                    <div>
                        This JSON file contains a list of questions for a test.
                        Each question has a question text, four options (A, B,
                        C, D), and the correct answer.
                    </div>
                    <div class="intersecting_invisible relative">
                        <div
                            class="intersecting_invisible mx-auto shadow-lg text-xl text-center bg-primary p-4 rounded-lg hover:opacity-75 hover:cursor-pointer text-white focus:ring-transparent focus:border-transparent focus:outline-none border-2 border-primary hover:border-secondary transition-all duration-300"
                        >
                            <div
                                class="intersecting_invisible flex flex-col items-center justify-center gap-2"
                            >
                                <i
                                    class="intersecting_invisible fas fa-file-upload text-4xl text-secondary"
                                ></i>
                                <span class="intersecting_invisible text-white"
                                    >Choose a file (File Type: JSON)</span
                                >
                                <span
                                    class="intersecting_invisible text-sm text-zinc-400"
                                    >or drag and drop here</span
                                >
                            </div>
                            <input
                                type="file"
                                id="questions_json"
                                name="questions_json"
                                class="intersecting_invisible absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                                accept=".json"
                            />
                        </div>
                        <p
                            id="file-name"
                            class="intersecting_invisible mt-2 text-sm text-zinc-400 text-center hidden"
                        >
                            No file chosen
                        </p>
                    </div>
                </div>

                <div class="intersecting_invisible flex justify-end gap-4">
                    <button
                        type="button"
                        id="clear-button"
                        class="intersecting_invisible w-1/2 shadow-lg text-xl text-center border-primary text-[var(--primary)] bg-white border-2 p-2 rounded-md hover:opacity-75 hover:cursor-pointer focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Clear
                    </button>
                    <button
                        type="submit"
                        class="intersecting_invisible w-1/2 shadow-lg text-xl text-center bg-primary p-2 rounded-md hover:opacity-75 hover:cursor-pointer text-white focus:ring-transparent focus:border-transparent focus:outline-none"
                    >
                        Create Test
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const fileInput = document.getElementById("questions_json");
    const fileNameDisplay = document.getElementById("file-name");

    fileInput.addEventListener("change", function (e) {
        if (e.target.files.length > 0) {
            fileNameDisplay.textContent = e.target.files[0].name;
            fileNameDisplay.classList.remove("hidden");
        } else {
            fileNameDisplay.textContent = "No file chosen";
            fileNameDisplay.classList.add("hidden");
        }
    });

    document
        .getElementById("clear-button")
        .addEventListener("click", function () {
            document.getElementById("test_name").value = "";

            document.getElementById("test_description").value = "";

            const fileInput = document.getElementById("questions_json");
            fileInput.value = "";
            document.getElementById("file-name").textContent = "No file chosen";
            document.getElementById("file-name").classList.add("hidden");
        });

    const fileDropArea = fileInput.parentElement;

    fileDropArea.addEventListener("dragover", (e) => {
        e.preventDefault();
        fileDropArea.classList.add("border-secondary", "bg-opacity-50");
    });

    fileDropArea.addEventListener("dragleave", () => {
        fileDropArea.classList.remove("border-secondary", "bg-opacity-50");
    });

    fileDropArea.addEventListener("drop", (e) => {
        e.preventDefault();
        fileDropArea.classList.remove("border-secondary", "bg-opacity-50");

        if (e.dataTransfer.files.length > 0) {
            fileInput.files = e.dataTransfer.files;
            const event = new Event("change", { bubbles: true });
            fileInput.dispatchEvent(event);
        }
    });
</script>
{% endblock %}
